.lonelyGame {
    height: 85vh;
    opacity: .7;
}

.deckStacks {
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.stacks {
    height: 65vh;
    display: flex;
    justify-content: space-around;
}